* {
  background-image: url("pics/posta.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-origin: padding-box;
}

body, html {
  height: 50%;
  max-height: 85%;
  width: 80%;
  max-width: 85%;
  margin: auto;
}

top {
  
}
